<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
    <label>
         Add Food Item:
      <input type="text" formControlName="foodItems">
    </label>
  <br>
    <label>
        Add Count:
      <input type="number" formControlName="count">
    </label>
    <br>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    
  </form>


  <div class="container">
    <table class="table table-responsive table-striped" border="1px">
      <tr>
        <th> Food Item</th>
        <th> Quantity</th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>{{row.foodItems}}</td>
        <td>{{row.count}}</td>
      </tr>
    </table>
    <div>